<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.mapper.AdminMapper">

    <select id="findAdmin" resultType="Integer">
        select count(1) from admin where username like #{username}
    </select>
    
    <select id="findAdminAndPwd" resultType="Integer">
        select count(1) from admin where username like #{username} and password like #{pwd}
    </select>


</mapper>